.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header */
header {
    width: 96%;
    height: 96px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 10px solid black;
}

.header_ul {
    display: flex;
    gap: 24px;
}
.list{
    color: #000;
text-align: right;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.1px;
}
.header_button {
    padding: 12px 24px;
    color: var(--anti-flash-white, #F3F3F3);
    text-align: center;
    background-color: black;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
     border-radius: 32px;
}
.fa-bars{
    display: none;
    padding: 10px;
    color: white;
    font-size: 25px;
    background-color: #000;
    border-radius: 50%;
    
}